.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background-color: #3d77a5;
  border: none;
  box-shadow: 5px 9px 15px -5px #777;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3;
}

button:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}